html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-image: url(https://i.pinimg.com/originals/ed/8a/c0/ed8ac0c600386672d54b1b4f64001860.jpg);
}

h1 {
color: darkviolet;
text-align: center;
background-color: black;
}

.container {
display:flex;
flex-direction: row;
justify-content: space-evenly;

}


li {
    width: 40%;
    font-weight: 700;
    color: blueviolet;
    text-transform: uppercase;
    list-style: none;
}

p {
    text-align: justify;
}
.presentation{
    width:40%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

