html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
flex-direction: column;
flex-wrap: wrap;
align-items: center;

}

ul.li {
    width: 40%;
}

ul.p {
    width: 40%;
}