html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
color: darkviolet;
text-align: center;
background-color: black;
}

.container {
display:flex;
flex-direction: row;
justify-content: space-evenly;

}


li {
    width: 40%;
    font-weight: 700;
    color: blueviolet;
    text-transform: uppercase;
}

p {
    text-align: justify;
}
.presentation{
    width:40%;
}

